* {
  margin: 0;
  padding: 0;
}

#menu a:link,
#menu a:visited {
  color: grey;
}
#menu a:hover {
  color: white;
}

/* layout pag 1 */
#cabeçalho {
  position: relative;
  background-image: url('../static/imagem/header-bg.jpg');

  height: 250px;
  color: white;
  padding: 20px;
  text-align: center;
}
#logo {
  position: relative;
  padding-top: 60px;
  padding-left: 200px;
}
#menu {
  padding-left: 0px;
  padding-top: 60px;
}

a {
  text-decoration: none;
  padding: 25px;
}
a:link,
a:visited {
  color: black;
}
a:hover {
  color: grey;
}
.equipe a {
  margin: 0;
  padding: 0;
}
#cabeçalho-segundo {
  width: 100%;
  background-color: white;
  margin: auto;
  margin-top: 2px;
}
.logo_ads {
  margin: 0;
  position: relative;
  text-align: center;
}
.h3 {
  padding-top: 0%;
  padding-bottom: 5px;
  color: white;
}
.h3m {
  padding-top: 0%;
  padding-bottom: 5px;
  color: #b22d30;
}

.h2 {
  position: relative;
  top: 45%;
  text-align: center;
  font-size: 5em;
  font-family: Fantasy, Copperplate;
}
.conteudo-principal {
  width: 70%;
  margin: auto;
  padding: 10px;
}

.conteudo-principal-2 {
  width: 920px;
  margin: 20px auto;
}
#conteudo-turmas {
  margin: auto;
  width: 90%;
  height: 350px;
}
.dordem {
  width: 100%;
}
.ordem {
  display: inline-block;
  width: 24%;
  margin-right: 2px;
  margin-bottom: 10px;
  border: 0.1px solid black;
  line-height: 40px;
  border-bottom: 4px solid black;
  position: relative;
}
.ordemab {
  display: inline-block;
  width: 16%;
  margin-right: 2px;
  margin-bottom: 10px;
  border: 0.1px solid black;
  line-height: 40px;
  border-bottom: 4px solid black;
  position: relative;
}
.ordem1 {
  display: inline-block;
  width: 12.5%;
  margin-right: 2px;
  margin-bottom: 10px;
  border: 0.1px solid black;
  line-height: 40px;
  border-bottom: 4px solid black;
}
.ordem2 {
  display: inline-block;
  width: 19%;
  margin-right: 2px;
  margin-bottom: 10px;
  border: 0.1px solid black;
  line-height: 40px;
  border-bottom: 4px solid black;
}
.ordem3 {
  display: inline-block;
  width: 25%;
  margin-right: 2px;
  margin-bottom: 10px;
  border: 0.1px solid black;
  line-height: 40px;
  border-bottom: 4px solid black;
}
.ordem4 {
  display: inline-block;
  width: 24%;
  margin-right: 2px;
  margin-bottom: 10px;
  border: 0.1px solid black;
  line-height: 40px;
  border-bottom: 4px solid black;
  position: relative;
}

.ordem5 {
  display: inline-block;
  width: 11%;
  margin-right: 2px;
  margin-bottom: 10px;
  border: 0.1px solid black;
  line-height: 40px;
  border-bottom: 4px solid black;
}

.turma {
  border: 0.1px solid black;
  width: 100%;
  background: grey;
  text-align: center;
  line-height: 20px;
}

.turmas {
  border: solid 0.1px black;
  width: 11.5%;
  float: left;
  margin-left: 0.6%;
  position: relative;
}
.turmasn {
  border: solid 0.1px black;
  width: 11.5%;
  float: left;
  margin-left: 0.2%;
  position: relative;
}
.turmas11 {
  border: solid 0.1px black;
  width: 15.35%;
  float: left;
  margin-left: 0.5%;
  position: relative;
  margin-left: 1%;
}

.turmas1 {
  border: solid 0.1px black;
  width: 12%;
  float: left;
  margin-left: 0.5%;
  position: relative;

  margin-left: 1%;
}
.turmasx {
  border: solid 0.1px black;
  width: 11%;
  float: left;
  margin-left: 1.5%;
}
.turmas1 {
  border: solid 0.1px black;
  width: 18.012%;
  float: left;
  margin-left: 0.7%;
  margin-right: 0.45%;
}
.turmas1-1 {
  border: solid 0.1px black;
  width: 18.012%;
  float: left;
  margin-left: 1%;
  margin-right: 0.45%;
}
.turmas2 {
  border: solid 0.1px black;
  width: 23%;
  float: left;
  margin-left: 1%;
}

.turmas2-1 {
  border: solid 0.1px black;
  width: 23%;
  float: left;
  margin-left: 1.7%;
  margin-right: 0.45%;
}
.turmas2-2 {
  border: solid 0.1px black;
  width: 23%;
  float: left;
  margin-left: 0.7%;
  margin-right: 0.2%;
}

.nome-equipe {
  width: 100%;
  text-align: center;
}

.equipe {
  border: solid 0.2px black;
  width: 100%;
  float: left;
  padding-top: 10px;
}
.mar {
  margin-left: 0px;
}

.hrconteudo {
  width: 210px;
  position: relative;
  left: 5%;
}

.clear {
  clear: both; /*inicio rodapé*/
}

.rodape {
  position: relative;
  background: #dcdcdc;
  height: 450px;
}
.imagem-rodape {
  padding: 65px 500px;
  position: relative;
  text-align: center;
}

.menu-rodape {
  position: absolute middle;
  text-align: center;
  font-family: Sans-serif Arial;
  font-size: 18px;
}
.icon-email {
  position: relative;
  text-align: center;
  padding-top: 40px;
  margin-right: 30px;
}

.centralizar {
  position: relative;
  text-align: center;
}
.alinha {
  text-align: center;
}
h2 {
  font-size: 1em;
} /*fim rodapé*/
h4 {
  position: relative;
  left: 50px;
}
