<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>
		Análise e Desenvolvimento de Sistema
	</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo-ads.css') }}>
</head>


<body>
	<!--cabeçalho-segundo//-->
			<div id="cabeçalho">

			<div id="logo">
				<img src="https://fatecsjc-prd.azurewebsites.net/images/logo/fatecsjc_400x192.png" align="left" width="200" height="96">
			</div>

				<div id="menu">
					<a href="/">Home</a>
					<a href="">Institucional</a>
					<a href="">Secretaria</a>
					<a href="">Cursos</a>
					<a href="">Projetos</a>
					<a href="">Área do aluno</a>
					<a href="">Contato</a>
					<a href="">Webmail</a>
				</div>
		</div>

	<div>
		<div class="clear"></div>
	<div id="cabeçalho-segundo">
		<div class="logo_ads">
			<img src={{ url_for('static', filename='imagem/logoads.png') }} width="250" height="250" >
			<h3 class="h3">Análise e Desenvolvimento de Sistemas</h3>
		</div>
		



	</div><br><br>

	</div><br>


		<div class="conteudo-principal">
			<p>O Tecnólogo em Análise e Desenvolvimento de Sistemas cria, projeta, desenvolve e configura programas, softwares e sistemas para inúmeras empresas. Faz auditoria de sistemas para avaliar possíveis erros e falhas. Além disso, o tecnólogo em Análise e Desenvolvimento de Sistemas está apto a prestar consultoria e desenvolver pesquisas.</p>
			

		</div>


		<div class="clear"></div><br><br><br>

		<div class="clear"></div>

	</div>

	<div id="conteudo-turmas" > <!-- Div com todo o contúdo -->
	<div class="dordem">
		<div class="ordem"> <h3 class="centralizar">1°ADS</h3></div> 
	    <div class="ordem"> <h3 class="centralizar">2°ADS</h3></div>
		<div class="ordem"> <h3 class="centralizar">3°ADS</h3></div> 
		<div class="ordem5"> <h3 class="centralizar">5°ADS</h3></div> 
	    <div class="ordem1"> <h3 class="centralizar">6°ADS</h3></div>
    </div>

		<div class="turmas"> <!-- Começa o quadro com as turmas-->

			<div class="turma" class="mar"> <!-- Começo do Nome da Turma-->
				<h5> Turma A </h5>
			</div> 				<!-- Final do Nome da Turma -->

			<div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6> Equipe 1</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
	
				<p class="centralizar"> <a href=" https://www.youtube.com/watch?v=gqUqGaXipe8"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1-ADS2020-2-equipe1"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	


				</p>
				
			</div> 				<!-- Final da área de cada equipe -->

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 2 </h6>
				</div>
				 
				<p class="centralizar"><a href=" https://www.youtube.com/watch?v=EU7sCETnPQo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1A-ADS2020-2-equipe2"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	 
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 3 </h6>
				</div>
				 
				<p class="centralizar"><a href=" https://www.youtube.com/watch?v=bcjg3bMJArc"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px">
				<a href="https://github.com/Api2sem2021/1A-ADS2020-2-equipe3"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> </a>  	  
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 4 </h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=WE_gLs0Y4_o"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1A-ADS2020-2-equipe4"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a>  	
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 5 </h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=dpJSavXZcFk"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1A-ADS2020-2-equipe5"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a>  	
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 6 </h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=_XhEydFBsfw"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1A-ADS2020-2-equipe6"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	 
				</p>
				
			</div>
			
		</div>

		<div class="turmas" class="margin">
			<div class="turma">
				<h5> Turma B </h5>
			</div>
			<div class="equipe">
				<div class="nome-equipe">
					<h6> Equipe 1 </h6>
				</div>


			<p class="centralizar"><a href="https://www.youtube.com/watch?v=KdxXSI6weOo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1B-ADS2020-2-equipe1"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 

		
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 2 </h6>
				</div>


				<p class="centralizar"><a href="https://www.youtube.com/watch?v=FRqYchG33t0"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1B-ADS2020-2-equipe2"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a>  	

				

				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 3 </h6>
				</div>
				 

				<p class="centralizar"><a href="https://www.youtube.com/watch?v=aHTgaPLw4vE"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1B-ADS2020-2-equipe3"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	

				

				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 4 </h6>
				</div>
				 

				<p class="centralizar"><a href="https://www.youtube.com/watch?v=XPhLHLePL0c"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a>  
				

				</p>
				
			</div>
			
		</div>
	
			<div class="turmas"> <!-- começo 2°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=Ow6tL47cNaQ"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2A-ADS2020-2-equipe1"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a>  	 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 2 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=sILO-WdkEf0"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2A-ADS2020-2-equipe2"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=Sk9jJhavxl0"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2A-ADS2020-2-equipe3"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a>  	  
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=ZEGnL8eSj20"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2A-ADS2020-2-equipe4"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
					</p>
					
				</div>
				
			</div>
				<div class="turmas">
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma B </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=w5EdaxzZ8q0"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2B-ADS2020-2-equipe1"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	 
					</p>
					
				</div> 				
	
				
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 2 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=9lVz6-sNtDo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2B-ADS2020-2-equipe2"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	  
					</p>
					
				</div>

                <div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=KGZch7UwyOo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2B-ADS2020-2-equipe3"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	  
					</p>
					
				</div>

                <div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=0uo2kmVrJkw"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2B-ADS2020-2-equipe4"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	  
					</p>
					
				</div>

                <div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 5 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=4W4W8F7Jhq8"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/2B-ADS2020-2-equipe5"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	  
					</p>
					
				</div>
                
				
				
			</div><!-- Final da área de cada equipe -->
			<div class="turmas"> <!-- começo 3°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=W3VpfOXkSkU"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/3A-ADS2020-2-equipe1"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a>  	 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 2 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=wnybZ7g8vIQ"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/3A-ADS2020-2-equipe2"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	  
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=2hAH_SY2ac4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/3A-ADS2020-2-equipe3"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=Omb8-oNZpcg"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/3A-ADS2020-2-equipe4"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	  
					</p>
					
				</div>

                

			</div>

            <div class="turmas">
	
				<div class="turma"> 
					<h5> Turma B </h5>
				</div> 				

                <div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 1 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=X55dA-4T-sw"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/3B-ADS2020-2-equipe1"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	  
					</p>
					
				</div>

                <div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=Vg5b7eITRV8"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/3B-ADS2020-2-equipe4"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	  
					</p>
					
				</div>
            
            </div>

				<div class="turmas">
	
				<div class="turma"> <!-- Começo 5°ads-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=HAoLSYTA5CE"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a>  	
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 2 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=mFeVwI7-ROY"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/5-ADS2020-2-equipe2"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=dl5_SeHqhSk"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/5-ADS2020-2-equipe3"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 6 </h6>
					</div>
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=HgmyytOLSNw"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/5-ADS2020-2-equipe6-api"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
					</p>
				</div>
			
			</div>
			
			
	
			<div class="turmas"> <!-- começo 6°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 2 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=cCxbbPKdK0c"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/6-ADS2020-2-equipe2"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a>  	
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3</h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=ZXHg6RftML4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/6-ADS2020-2-equipe3"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=h2LBAIon8zo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/6-ADS2020-2-equipe4"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	 
					</p>
					
				</div>
			
			</div>
				
			</div>
			
			</div>
	</div>


	
		

	


			<div class="clear"></div><br>


			
				<div class="rodape" class="centralizar"> <!--inicio rodapé--> 

					<div class="imagem-rodape">	
						<img src={{ url_for('static', filename='imagem/cps_brasao_sp_320x84.png') }}  style="width: 350px; height: 90px;">
					</div>

					<div class="menu-rodape" >

						<a href="https://fatecsjc-prd.azurewebsites.net/index.php">Home</a>
						<a href="">Institucional</a>
						<a href="">Cursos</a>
						<a href="">Projetos</a>
						<a href="">Área do aluno</a>
						<a href="">Contato</a>
						<a href="">Docentes</a>
		
						<br><br>
						<hr>
						
					</div>
					

		
					<div class="icon-email"> 
					<a href="https://outlook.office365.com/mail/"><img src={{ url_for('static', filename='imagem/icon_email.png') }} style="width: 45px;
                     height: 45px;"></a>	
					<a href="https://www.facebook.com/fatecjessenvidal">   <img src={{ url_for('static', filename='imagem/facebook-icon.png') }} style="width: 45px;
                     height: 45px;"></a>
                  
					

					</div><br><br>

					<div class="centralizar">
						<p">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal | Feito por Pedro Otávio</p>
					</div><!--fim rodapé-->

				</div>
		
</body>
</html>
