<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>
		Análise e Desenvolvimento de Sistema
	</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo-ads.css') }}>
<body>
	<!--cabeçalho-segundo//-->
			<div id="cabeçalho">

			<div id="logo">
				<img src={{ url_for('static', filename='imagem/fatecsjc_400x192.png') }} align="left" width="200" height="96">
			</div>

				<div id="menu">
					<a href="/">Home</a>
					<a href="">Institucional</a>
					<a href="">Secretaria</a>
					<a href="">Cursos</a>
					<a href="">Projetos</a>
					<a href="">Área do aluno</a>
					<a href="">Contato</a>
					<a href="">Webmail</a>
				</div>
		</div>

	<div>
		<div class="clear"></div>
	<div id="cabeçalho-segundo">
		<div class="logo_ads">
			<img src={{ url_for('static', filename='imagem/logoads.png') }}  width="250" height="250" >
			<h3 class="h3">Análise e Desenvolvimento de Sistemas</h3>
		</div>
		



	</div><br><br>

	</div><br>


		<div class="conteudo-principal">
			<p>O Tecnólogo em Análise e Desenvolvimento de Sistemas cria, projeta, desenvolve e configura programas, softwares e sistemas para inúmeras empresas. Faz auditoria de sistemas para avaliar possíveis erros e falhas. Além disso, o tecnólogo em Análise e Desenvolvimento de Sistemas está apto a prestar consultoria e desenvolver pesquisas.</p>
		

		</div>


		<div class="clear"></div><br><br><br>

		<div class="clear"></div>

	</div>

	<div id="conteudo-turmas" > <!-- Div com todo o contúdo -->
	<div class="dordem">
		<div class="ordem"> <h3 class="centralizar">1°ADS</h3></div> 
	    <div class="ordem"> <h3 class="centralizar">2°ADS</h3></div>
		<div class="ordemab"> <h3 class="centralizar">3°ADS</h3></div> 
		<div class="ordemab"> <h3 class="centralizar">5°ADS</h3></div> 
	    <div class="ordemab"> <h3 class="centralizar">6°ADS</h3></div>
    </div>

		<div class="turmasn"> <!-- Começa o quadro com as turmas-->

			<div class="turma" class="mar"> <!-- Começo do Nome da Turma-->
				<h5> Turma A </h5>
			</div> 				<!-- Final do Nome da Turma -->

			<div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6> Safety lock</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
				 

				<p class="centralizar"><a href="https://www.youtube.com/watch?v=wBGFIl4ZthE"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	


				</p>
				
			</div> 				<!-- Final da área de cada equipe -->

			<div class="equipe">

				<div class="nome-equipe">
					<h6> 3RAG </h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=mCMZn1g1DBo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ads2020-Equipe-3RAG.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }} width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Team Of the Semester</h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=gBqtKcwlkwg"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ADS2020-Team-Of-The-Semester.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Energy Control </h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=Vbet4k0QA9M"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ads2020-Equipe-Energy-Control.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Psycho</h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=D3UMamagQYU"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ads2020-Equipe-Psycho.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Smart Stock</h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=BxzbVKHUA_g"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ads2020-Equipe-Smart-Stock.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Hexágono </h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=AYty7aQO1_A"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ads2020-Equipe-Hex-gono.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>


		</div>

		<div class="turmas" class="margin">
			<div class="turma">
				<h5> Turma B </h5>
			</div>
			<div class="equipe">
				<div class="nome-equipe">
					<h6> LITTLE PET </h6>
				</div>


			<p class="centralizar"><a href="https://www.youtube.com/watch?v=r1apVR5S3Lo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 

		
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe Slim </h6>
				</div>


				<p class="centralizar"><a href="https://www.youtube.com/watch?v=KB0SPYvsxZk"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	

				

				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6>FARMTECH	 </h6>
				</div>
				 

				<p class="centralizar"><a href="https://www.youtube.com/watch?v=Sz8bjA0C3eQ"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	

				

				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> GreenTech </h6>
				</div>
				 

				<p class="centralizar"><a href="https://www.youtube.com/watch?v=bYtuKfBUEdQ"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 
				

				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> iPET</h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=32ptJYlUAXo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ads2020-Equipe-iPET.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> JeRso</h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=jxdwCIXG6nQ"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ads2020-Equipe-JeRso.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>
			<div class="equipe">

				<div class="nome-equipe">
					<h6> Home Solutions</h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=9zbqYkU-me4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-ads2020-Equipe-Home-Solutions.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>

		</div>
	
			<div class="turmas"> <!-- começo 2°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=o1WAWSn2kks"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2A-ads2020-Equipe-1.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 2 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=Fj5llzmg01I"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2A-ads2020-Equipe-2.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=tl6yQd9AWu4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2A-ads2020-Equipe-3.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=X4Hpez769dM"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2A-ads2020-Equipe-4.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 5</h6>
					</div>
					 

					<p class="centralizar"><a href="https://youtu.be/pLDn2JANHBY"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a>  

					
					</p>

	
				</div>
			</div>
				<div class="turmas">
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma B </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=9KYsCrgorTk"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2B-ads2020-Equipe-1.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div> 				
	
				
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=FWIq11U5yv4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2B-ads2020-Equipe-3.git
						"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				
				
			</div><!-- Final da área de cada equipe -->
			<div class="turmas11"> <!-- começo 3°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=-ejchD2ysoQ"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/3-ADS2020-Equipe-1.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 2 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=3XOAsKkF7D4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/3-ADS2020-Equipe-2.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=nqnr9gfxJFo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/3-ADS2020-Equipe-3.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=-mjd-cFmYnc"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/3-ADS2020-Equipe-4.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 5</h6>
					</div>
					 
					<p class="centralizar"><a href="https://youtu.be/kPtPQXiAs8U"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/3-ADS2020-Equipe-5.git
						"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				
			</div>
				<div class="turmas11">
	
				<div class="turma"> <!-- Começo 5°ads-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 2 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=p0lWKZmcwCA"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/5-ADS2020-Equipe-2.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4</h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=UEmsaufV0oI"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/5-ADS2020-Equipe-4.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 5</h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=diLUU0bPdSc"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/5-ADS2020-Equipe-5.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 7</h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=Ynnx8GjEAyg"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/5-ADS2020-Equipe-7.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 8</h6>
					</div>
				
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=zBDQ092SokE"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/5-ADS2020-Equipe-8.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
				
			</div>
	
			
			
	
			<div class="turmas11"> <!-- começo 6°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=h1N0rgaBcbM"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/6-ADS2020-Equipe-1.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 4</h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=130k_eQolVo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/6-ADS2020-Equipe-4.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 5 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=vKP2q8ecPls"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/6-ADS2020-Equipe-5.git"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					</p>
					
				</div>
			
			</div>
				
				
				
			</div>
			
			</div>
	</div>


	
		

	


			<div class="clear"></div><br>


			
				<div class="rodape" class="centralizar"> <!--inicio rodapé--> 

					<div class="imagem-rodape">	
						<img src={{ url_for('static', filename='imagem/cps_brasao_sp_320x84.png') }}  style="width: 350px; height: 90px;">
					</div>

					<div class="menu-rodape" >

						<a href="https://fatecsjc-prd.azurewebsites.net/index.php">Home</a>
						<a href="">Institucional</a>
						<a href="">Cursos</a>
						<a href="">Projetos</a>
						<a href="">Área do aluno</a>
						<a href="">Contato</a>
						<a href="">Docentes</a>
		
						<br><br>
						<hr>
						
					</div>
					

		
					<div class="icon-email"> 
					<a href="https://outlook.office365.com/mail/"><img src={{ url_for('static', filename='imagem/icon_email.png') }} style="width: 45px;
                     height: 45px;"></a>	
					<a href="https://www.facebook.com/fatecjessenvidal">   <img src={{ url_for('static', filename='imagem/facebook-icon.png') }} style="width: 45px;
                     height: 45px;"></a>
                  
					

					</div><br><br>

					<div class="centralizar">
						<p">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal | Feito por Pedro Otávio</p>
					</div><!--fim rodapé-->

				</div>
		
</body>
</html>
