<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>
		Banco de Dados
	</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo-bd2021-1.css') }}>
</head>


<body>
	<!--cabeçalho-segundo//-->
			<div id="cabeçalho">

			<div id="logo">
				<img src= {{ url_for('static', filename='imagem/fatecsjc_400x192.png') }} align="left" width="200" height="96">
			</div>

				<div id="menu">
					<a href="/">Home</a>
					<a href="">Institucional</a>
					<a href="">Secretaria</a>
					<a href="">Cursos</a>
					<a href="">Projetos</a>
					<a href="">Área do aluno</a>
					<a href="">Contato</a>
					<a href="">Webmail</a>
				</div>
		</div>

	<div>
		<div class="clear"></div>
	<div id="cabeçalho-segundo">
		<div class="logo_ads">
			<img src= {{ url_for('static', filename='imagem/logobd.png') }} width="300" height="300" >
			<h3 class="h3">Banco de Dados</h3>
		</div>
		


	</div><br><br>

		<div class="conteudo-principal">
	
			<p>O Tecnólogo em Banco de Dados projeta e administra esse complexo arquivo que armazena e organiza informações digitais. Isso inclui desde o cuidado com o conjunto de máquinas, como os servidores, até a configuração dos softwares de gerenciamento de dados e informações.</p>		

		</div>

		<div class="clear"></div><br><br><br>
	</div>

	<div id="conteudo-turmas" > <!-- Div com todo o contúdo -->
	<div class="dordem">
		<div class="ordem"> <h3 class="centralizar">1° Banco de Dados</h3></div> 
	    <div class="ordem"> <h3 class="centralizar">2° Banco de Dados</h3></div>
		<div class="ordem1"> <h3 class="centralizar">3° Banco de Dados</h3></div>
		<div class="ordem1"> <h3 class="centralizar">4° Banco de Dados</h3></div>  


    </div>

		<div class="turmas"> <!-- Começa o quadro com as turmas-->

			<div class="turma" class="mar"> <!-- Começo do Nome da Turma-->
				<h5> Turma  </h5>
			</div> 				<!-- Final do Nome da Turma -->

			<div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6> Equipe Phamtom</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
				 
				<p class="centralizar"><a href="https://youtu.be/vMT_ERQ74a0"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> <a href="https://github.com/Api2sem2021/1-bd2021-Equipe-Phantom"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
				
			</div> 				<!-- Final da área de cada equipe -->

			<div class="equipe">

				<div class="nome-equipe">
					<h6>Equipe TheLooksDatabase </h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/40meAkkQdNM"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/1-bd2021-Equipe-TheLooksDatabase"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe SilverCod3</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/E_I9MvQs9BE"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 		<a href="https://github.com/Api2sem2021/1-bd2021-Equipe-Silvercod3"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe CodeYCode</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/dIepCivYIbk"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 		<a href="https://github.com/Api2sem2021/1-BD2021-Equipe-CodeYCode"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				</p>
				
			</div>
		
			


		</div>

		<div class="turmas" class="margin">
			<div class="turma">
				<h5> Turma  </h5>
			</div>
			<div class="equipe">
				<div class="nome-equipe">
					<h6> Equipe Tetris </h6>
				</div>

			<p class="centralizar"><a href="https://youtu.be/1eohvuqf-XU"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2-bd2021-Equipe-Tetris"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				
			</p>	
		
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe Java Pastry </h6>
				</div>

				<p class="centralizar"><a href="https://youtu.be/MX--ijR84j4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2-bd2021-Equipe-Javapastry"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
				

				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe DevStore</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/TVGQEZVQC0Y"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/2-bd2021-Equipe-DevStore"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 	
				</p>
				
			</div>
		

			

		</div>


	
			<div class="turmas"> 
	
				<div class="turma">
					<h5> Turma </h5>
				</div> 				
	
				<div class="equipe"> 
	
					<div class="nome-equipe"> 
						<h6> Equipe 4 </h6>
					</div>					 
					 
					<p class="centralizar"><a href="https://youtu.be/DKgOlpNNqrY"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/3-bd2021-Equipe-04"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					 
					
				</div> 				
	




			</div>
						<div class="turmas"> 
	
				<div class="turma">
					<h5> Turma </h5>
				</div> 				
	
				<div class="equipe"> 
	
					<div class="nome-equipe"> 
						<h6> Equipe Pythaon </h6>
					</div>					 
					 
					<p class="centralizar"><a href="https://youtu.be/yVAXDhanC3g"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	<a href="https://github.com/Api2sem2021/4-bd2021-Equipe-Pythaon"> <img src={{ url_for('static', filename='imagem/GitHub.png') }}  width="20px"  height="20px"alt=""></a> 
					 
					
				</div> 				
	
				


			</div>
				

				

				
				
		

			
	</div>





			<div class="clear"></div><br>


			
				<div class="rodape" class="centralizar"> <!--inicio rodapé--> 

					<div class="imagem-rodape">	
						<img src= {{ url_for('static', filename='imagem/cps_brasao_sp_320x84.png') }}  style="width: 350px; height: 90px;">
					</div>

					<div class="menu-rodape" >
						<a href="https://fatecsjc-prd.azurewebsites.net/index.php">Home</a>
						<a href="">Institucional</a>
						<a href="">Cursos</a>
						<a href="">Projetos</a>
						<a href="">Área do aluno</a>
						<a href="">Contato</a>
						<a href="">Docentes</a>
		
						<br><br>
						<hr>
						
					</div>
					

		
					<div class="icon-email"> 
					<a href="https://outlook.office365.com/mail/"> <img src={{ url_for('static', filename='imagem/icon_email.png') }} style="width: 45px;
                     height: 45px;"></a>	
					<a href="https://www.facebook.com/fatecjessenvidal">   <img src={{ url_for('static', filename='imagem/facebook-icon.png') }} style="width: 45px;
                     height: 45px;"></a>
                  
					

					</div><br><br>

					<div class="centralizar">
						<p">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal | Feito por Pedro Otávio</p>
					</div><!--fim rodapé-->

				</div>
		
</body>
</html>