<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		API 
	</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo.css') }}>
</head>
<body>
	<!--cabeçalho//-->
		<div id="cabeçalho">

			<div id="logo">
				<img src={{ url_for('static', filename='imagem/fatecsjc_400x192.png') }} align="left" width="200" height="96">
			</div>

				<div id="menu">

					<a href="/">Home</a>
					<a href="">Institucional</a>
					<a href="">Secretaria</a>
					<a href="">Cursos</a>
					<a href="">Projetos</a>
					<a href="">Área do aluno</a>
					<a href="">Contato</a>
					<a href="">Webmail</a>
				</div>
		</div>
		<!-- fim cabeçalho//-->

		<div id="area-principal">
			<div id="area-postagens">
				<h1> Aprendizagem por Projeto Integrado</h1>
				<br>
				

				<img src={{ url_for('static', filename='imagem/pi.png') }}>
				<br>
			
				<p>Vídeos de apresentação dos resultados finais nas disciplinas de Projetos Integradores da FATEC São José dos Campos – Prof. Jessen Vidal.</p>
	</div> 

			<div id="area-lateral">
				<h2> ONDE</h2>
	
				<a href="https://www.google.com/maps/place/FATEC+S%C3%A3o+Jos%C3%A9+dos+Campos+-+Prof.+Jessen+Vidal/@-23.162199,-45.7953,14z/data=!4m5!3m4!1s0x0:0xf9cf22ea7d377dca!8m2!3d-23.1621987!4d-45.7952995?hl=pt-BR" ><br> Av. Cesare Mansueto Giulio Lattes, 1350<br>
					Eugênio de Melo<br>
					São José dos Campos/SP<br>
					12247-014, Brasil
				</a>
			</div>
				
				<div class="clear"> </div>
				<!-- divisao por ano e semestre//-->

				<div class="sem"> <!--ano+semestre //-->

				<div class=" divisaosem"> <!-- semestre //-->
				      <h1>2020.1</h1> 
				</div>
			

				       	     <a href="ads"  class="linkmenu">ADS</a> 
				       	     <br>
				           	 <a href="bd" class="linkmenu">BD</a> 

				
				</div>

			<div class="sem"><!--ano+semestre //-->
				 <div class=" divisaosem"><!-- semestre //-->
				       <h1>2020.2</h1> 
				 </div>
			
				            <a href="ads2020_2"  class="linkmenu" >ADS</a>
				       	     <br>
				           	 <a href="bd2020_2"  class="linkmenu" >BD</a>
				           	 <br>
				           	 <a href="logistica2020_2"  class="linkmenu" >Logística</a>
				       	     <br>
				           	 <a href="manufaturaavançada2020_2" class="linkmenu" >Manufatura Avançada</a> 
				             <br>
				             <a href="manutençaodeaeronaves2020_2"  class="linkmenu">Manutenção de ANV</a>
				   </ul>
          
				           	 
			</div>

				<div class="sem"> <!--ano+semestre //-->
					<div class=" divisaosem"><!-- semestre //-->
					 <h1>2021.1</h1> 
					</div> 
					         <a href="ads2021_1"  class="linkmenu">ADS</a> 
				       	     <br>
				           	 <a href="bd2021_1"  class="linkmenu">BD</a>
				           	 <br>
				           	 <a href="dsm2021"  class="linkmenu">DSM</a>
				           	 <br>
				           	 <a href="logistica20211"  class="linkmenu">Logística</a>
				       	     <br>
				           	 <a href="manufaturaavançada20211"  class="linkmenu">Manufatura Avançada</a> 
				             <br>
				             <a href="manutençaodeaeronaves2021_1"  class="linkmenu">Manutenção de ANV</a>

			</div>

				<div class="clear"></div>
				<div class="sem"> <!--ano+semestre //-->
					<div class=" divisaosem"> <h1>2021.2</h1> </div>
				             <a href=""  class="linkmenu">ADS</a> 
				       	     <br>
				           	 <a href=""  class="linkmenu">BD</a>
				           	 <br>
				           	 <a href=""  class="linkmenu">DSM</a>
				           	 <br>
				           	 <a href=""  class="linkmenu">Logística</a>
				       	     <br>
				           	 <a href=""  class="linkmenu">Manufatura Avançada</a> 
				             <br>
				             <a href="" class="linkmenu">Manutenção de ANV</a>
					</div>
				</div>
			

			<div class="clear"></div>

			
				<div class="rodape"> <!--inicio rodapé--> 

					<div class="imagem-rodape">	

						<img src={{ url_for('static', filename='imagem/cps_brasao_sp_320x84.png') }} style="width: 350px; height: 90px;">
						

					</div>

					<div class="menu-rodape">
						<a href="https://fatecsjc-prd.azurewebsites.net/index.php">Home</a>
						<a href="">Institucional</a>
						<a href="">Cursos</a>
						<a href="">Projetos</a>
						<a href="">Área do aluno</a>
						<a href="">Contato</a>
						<a href="">Docentes</a>
						<br><br>

						<hr>
					</div>

		
					<div class="icon-email"> 
					<a href="https://outlook.office365.com/mail/"><img src={{ url_for('static', filename='imagem/icon_email.png') }} style="width: 45px;
                     height: 45px;"></a>	
					<a href="https://www.facebook.com/fatecjessenvidal">   <img src={{ url_for('static', filename='imagem/facebook-icon.png') }} style="width: 45px;
                     height: 45px;"></a>
                  
					

					</div><br><br>

					<div class="centralizar">
						<p>Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal | Feito por Pedro Otávio</p>
					</div><!--fim rodapé-->

				</div>
		

</body>
</html>