<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>
	Logística
	</title>
	<link rel="stylesheet" type="text/css" href= {{ url_for('static', filename='estilo-ads.css') }}>

</head>


<body>
	<!--cabeçalho-segundo//-->
			<div id="cabeçalho">

			<div id="logo">
				<img src= {{ url_for('static', filename='imagem/fatecsjc_400x192.png') }} align="left" width="200" height="96">
			</div>

				<div id="menu">
					<a href="/">Home</a>
					<a href="">Institucional</a>
					<a href="">Secretaria</a>
					<a href="">Cursos</a>
					<a href="">Projetos</a>
					<a href="">Área do aluno</a>
					<a href="">Contato</a>
					<a href="">Webmail</a>
				</div>
		</div>

	<div>
		<div class="clear"></div>
	<div id="cabeçalho-segundo">
		<div class="logo_ads">

			<img src={{ url_for('static', filename='imagem/logologistica.png') }} width="250" height="250" >
			
		</div>
		



	</div>

	</div><br>


		<div class="conteudo-principal">
		
			<p>O Tecnólogo em Logística é o profissional que gerencia o fluxo de produtos ou pessoas em uma empresa. Cuida da aquisição, do recebimento, da armazenagem, da distribuição e do transporte de produtos, bem como do controle e processamento de pedidos.</p>

		</div>


		<div class="clear"></div>

		<div class="clear"></div>

	</div>

	<div id="conteudo-turmas" > <!-- Div com todo o contúdo -->
	<div class="dordem">
		<div class="ordem4"> <h3 class="centralizar">1°Logística-Manhã</h3></div> 
		<div class="ordem4"> <h3 class="centralizar">2°Logística-Manhã</h3></div> 
		<div class="ordem4"> <h3 class="centralizar">3°Logística-Manhã</h3></div> 
	    <div class="ordem4"> <h3 class="centralizar">4°Logística-Manhã</h3></div>
    </div>

		<div class="turmas2-2"> <!-- Começa o quadro com as turmas-->

			<div class="turma" class="mar"> <!-- Começo do Nome da Turma-->
				<h5> Turma A </h5>
			</div> 				<!-- Final do Nome da Turma -->

			<div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6>Equipe 1</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
				 

				<p class="centralizar"><a href=https://youtu.be/tbt7_DcxtgY"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	


				</p>
				
			</div> 				<!-- Final da área de cada equipe -->

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 2</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/EI0t4t_4Z4s"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 3</h6>
				</div>
				 
				<p class="centralizar"><a href=https://youtu.be/yxJXomFR-zY"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>
            <div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6> Equipe 4</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
				 

				<p class="centralizar"><a href="https://youtu.be/hvUdh2i0G3w"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	


				</p>
				
			</div> 				<!-- Final da área de cada equipe -->

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 5</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/92YJgDLo5iY"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 6</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/EPy7ehxU2wo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>
	</div>

		
	
			
				
			<div class="turmas2"> <!-- começo2°-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma a </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1</h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://youtu.be/7UTidB6bVlU"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a>
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6>Equipe 2 </h6>
					</div>
					 
					<p class="centralizar"><a href="https://youtu.be/HzGBxQYPD0Y"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 3</h6>
					</div>
					 
					<p class="centralizar"><a href="https://youtu.be/1M-WNZTQ1D4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
					</p>
					
				</div>
			</div>

				<div class="turmas2-1">
	
				<div class="turma"> <!-- Começo 3°-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1</h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://youtu.be/dbNnU2LRLlY"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"> </a>
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
		
			</div>
			
			
	
			<div class="turmas2"> <!-- começo 4°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 1 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://youtu.be/qlotjoBQLr4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
                <div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 2 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://youtu.be/5K5moGS-iU0"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
                <div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe3 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://youtu.be/8nxe9IVTqgM"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
                <div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Equipe 4 </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://youtu.be/OGF6C1rgZ-8"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
                
	</div><div  class="
    clear"><br></div>

    <div class="dordem">
		<div class="ordem4"> <h3 class="centralizar">1°Logística-Noite</h3></div> 
		<div class="ordem4"> <h3 class="centralizar">2°Logística-Noite</h3></div> 
		<div class="ordem4"> <h3 class="centralizar">3°Logística-Noite</h3></div> 
	
    </div>
    <div class="turmas2-2"> <!-- começo 4°ads-->
	
        <div class="turma"> <!-- Começo do Nome da Turma-->
            <h5> Turma A </h5>
        </div> 				<!-- Final do Nome da Turma -->

		

			<div class="equipe">

				<div class="nome-equipe">
					<h6>Equipe 1</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/WsXZYYHHfpE"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>
            <div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 2</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/6zqob90esPs"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 3</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/Sp_tLYXa7uo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>
            <div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6>Equipe 4</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
				 

				<p class="centralizar"><a href="https://youtu.be/Jv2H3CVQaIU"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	


				</p>
				
			</div> 				<!-- Final da área de cada equipe -->

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 5</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/KlzqrwpgHyY"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Equipe 6</h6>
				</div>
				 
				<p class="centralizar"><a href="https://youtu.be/2KlXV6Xaujs"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
				</p>
				
			</div>
            <div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6> Equipe 7</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
				 

				<p class="centralizar"><a href="https://youtu.be/BRbXyNXssxM"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	


				</p>
				
			</div> 				<!-- Final da área de cada equipe -->
            <div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6> Equipe 8</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
				 

				<p class="centralizar"><a href="https://youtu.be/c7rh9f7cprA"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	


				</p>
				
			</div> 				<!-- Final da área de cada equipe -->

	</div>

		
	
			
				
			<div class="turmas2"> <!-- começo 2°-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 1</h6>
					</div>
					 
					<p class="centralizar"><a href=https://youtu.be/FI40ZN8tZsw"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 2</h6>
					</div>
					 
					<p class="centralizar"><a href="https://youtu.be/Mu7-B9FDSmw"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
					</p>
					
				</div>
			</div>
				<div class="turmas2-1">
	
				<div class="turma"> <!-- Começo 3°-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Equipe 1</h6>
					</div>
					 
					<p class="centralizar"><a href="https://youtu.be/IZkFpfFD8N0"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
					</p>
					
				</div>			
			</div>
			
			
	
				
				
				
			</div>
			
            
			</div>
            
	</div>


	
		

	


			<div class="clear"></div><br>


			
				<div class="rodape" class="centralizar"> <!--inicio rodapé--> 

					<div class="imagem-rodape">	
						<img src= {{ url_for('static', filename='imagem/cps_brasao_sp_320x84.png') }}  style="width: 350px; height: 90px;">
					</div>

					<div class="menu-rodape" >

						<a href="https://fatecsjc-prd.azurewebsites.net/index.php">Home</a>
						<a href="">Institucional</a>
						<a href="">Cursos</a>
						<a href="">Projetos</a>
						<a href="">Área do aluno</a>
						<a href="">Contato</a>
						<a href="">Docentes</a>
		
						<br><br>
						<hr>
						
					</div>
					

		
					<div class="icon-email"> 
					<a href="https://outlook.office365.com/mail/"><img src= {{ url_for('static', filename='imagem/icon_email.png') }} style="width: 45px;
                     height: 45px;"></a>	
					<a href="https://www.facebook.com/fatecjessenvidal">   <img src={{ url_for('static', filename='imagem/facebook-icon.png') }} style="width: 45px;
                     height: 45px;"></a>
                  
					

					</div><br><br>

					<div class="centralizar">
						<p">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal | Feito por Pedro Otávio</p>
					</div><!--fim rodapé-->

				</div>
		
</body>
</html>