<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>
		Manutenção de Aeronaves
	</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo-ads.css') }}>
</head>


<body>
	<!--cabeçalho-segundo//-->
			<div id="cabeçalho">

			<div id="logo">
				<img src="https://fatecsjc-prd.azurewebsites.net/images/logo/fatecsjc_400x192.png" align="left" width="200" height="96">
			</div>

				<div id="menu">
					<a href="/">Home</a>
					<a href="">Institucional</a>
					<a href="">Secretaria</a>
					<a href="">Cursos</a>
					<a href="">Projetos</a>
					<a href="">Área do aluno</a>
					<a href="">Contato</a>
					<a href="">Webmail</a>
				</div>
		</div>

	<div>
		<div class="clear"></div><br>
	<div id="cabeçalho-segundo">
		<div class="logo_ads">
			<img src= {{ url_for('static', filename='imagem/logomanaero.png') }}  width="250" height="250" >
		</div>
		



	</div>

	</div>


		<div class="conteudo-principal">
			
			<p>O Tecnólogo em Manutenção de Aeronaves supervisiona a revisão e a manutenção de aviões. Atua na gestão, no planejamento e no controle dos serviços de manutenção de aeronaves e seus componentes. No planejamento de serviços, define a sequência das atividades de manutenção, otimiza as tarefas e controla os prazos de execução de cada etapa de trabalho.</p>

		</div>


		<div class="clear"></div>

		<div class="clear"></div>

	</div>

	<div id="conteudo-turmas" > <!-- Div com todo o contúdo -->
	<div class="dordem">
	    <div class="ordem3"> <h3 class="centralizar">2°Manutenção de Aeronaves</h3></div>
	</div>

            <div class="turmas"> <!-- Começa o quadro com as turmas 2°-->

                <div class="turma" class="mar"> <!-- Começo do Nome da Turma-->
                    <h5> Turma A </h5>
                </div> 				<!-- Final do Nome da Turma -->
    
                <div class="equipe"> <!-- Começo da área de cada equipe -->
    
                    <div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
                        <h6> Delta</h6>
                    </div>					 <!-- Final da área do  Nome da equipe -->
                     
    
                    <p class="centralizar"><a href="https://www.youtube.com/watch?v=MVjlicXFtA0"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
    
    
                    </p>
                    
                </div> 		<!-- Final da área de cada equipe -->
            </div>
                <div class="turmas"> <!-- Começa o quadro com as turmas-->

                    <div class="turma" class="mar"> <!-- Começo do Nome da Turma-->
                        <h5> Turma A </h5>
                    </div> 				<!-- Final do Nome da Turma -->
        
                    <div class="equipe"> <!-- Começo da área de cada equipe -->
        
                        <div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
                            <h6>Foxtrot </h6>
                        </div>					 <!-- Final da área do  Nome da equipe -->
                         
        
                        <p class="centralizar"><a href="https://www.youtube.com/watch?v=OVDUXnV5DVg"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	
        
        
                        </p>
                        
                    </div> 		<!-- Final da área de cada equipe -->
                   
               
        </div>
        
    </div>

	
		

	


			<div class="clear"></div>


			
				<div class="rodape" class="centralizar"> <!--inicio rodapé--> 

					<div class="imagem-rodape">	
						<img src={{ url_for('static', filename='imagem/cps_brasao_sp_320x84.png') }}  style="width: 350px; height: 90px;">
					</div>

					<div class="menu-rodape" >

						<a href="https://fatecsjc-prd.azurewebsites.net/index.php">Home</a>
						<a href="">Institucional</a>
						<a href="">Cursos</a>
						<a href="">Projetos</a>
						<a href="">Área do aluno</a>
						<a href="">Contato</a>
						<a href="">Docentes</a>
		
						<br><br>
						<hr>
						
					</div>
					

		
					<div class="icon-email"> 
					<a href="https://outlook.office365.com/mail/"><img src={{ url_for('static', filename='imagem/icon_email.png') }} style="width: 45px;
                     height: 45px;"></a>	
					<a href="https://www.facebook.com/fatecjessenvidal">   <img src={{ url_for('static', filename='imagem/facebook-icon.png') }} style="width: 45px;
                     height: 45px;"></a>
                  
					

					</div><br><br>

					<div class="centralizar">
						<p">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal | Feito por Pedro Otávio</p>
					</div><!--fim rodapé-->

				</div>
		
</body>
</html>