<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>
		Manufatura Avançada
	</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo-ads.css') }}>
</head>


<body>
	<!--cabeçalho-segundo//-->
			<div id="cabeçalho">

			<div id="logo">
				<img src="https://fatecsjc-prd.azurewebsites.net/images/logo/fatecsjc_400x192.png" align="left" width="200" height="96">
			</div>

				<div id="menu">
					<a href="/">Home</a>
					<a href="">Institucional</a>
					<a href="">Secretaria</a>
					<a href="">Cursos</a>
					<a href="">Projetos</a>
					<a href="">Área do aluno</a>
					<a href="">Contato</a>
					<a href="">Webmail</a>
				</div>
		</div>

	<div>
		<div class="clear"></div>
	<div id="cabeçalho-segundo">
		<div class="logo_ads">
			<img src= {{ url_for('static', filename='imagem/logomav.jpeg') }} width="250" height="250" >
			<h3 class="h3m">Manufatura Avançada</h3>
		</div>
		



	</div>

	</div><br>


		<div class="conteudo-principal">
		
			<p>O Tecnólogo em Manufatura Avançada é o profissional que irá criar e/ou gerenciar projetos de desenvolvimento integrado de manufatura, tendo em vista a concepção ou a melhoria de processos de produção. Atua como integrador de tecnologias e conceitos, a fim de transformar ambientes de manufatura convencional em ambientes de manufatura avançada.</p>


		</div>


		<div class="clear"></div>

		<div class="clear"></div>

	</div>

	<div id="conteudo-turmas" > <!-- Div com todo o contúdo -->
	<div class="dordem">
		<div class="ordem2"> <h3 class="centralizar">1°Manufatura Avançada</h3></div> 
	    <div class="ordem2"> <h3 class="centralizar">2°Manufatura Avançada</h3></div>
		<div class="ordem2"> <h3 class="centralizar">4°Manufatura Avançada</h3></div> 
		<div class="ordem2"> <h3 class="centralizar">5°Manufatura Avançada</h3></div> 
	    <div class="ordem2"> <h3 class="centralizar">6°Manufatura Avançada</h3></div>
    </div>

		<div class="turmas1"> <!-- Começa o quadro com as turmas-->

			<div class="turma" class="mar"> <!-- Começo do Nome da Turma-->
				<h5> Turma A </h5>
			</div> 				<!-- Final do Nome da Turma -->

			<div class="equipe"> <!-- Começo da área de cada equipe -->

				<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
					<h6> Easy Box</h6>
				</div>					 <!-- Final da área do  Nome da equipe -->
				 

				<p class="centralizar"><a href="https://www.youtube.com/watch?v=wBGFIl4ZthE"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	


				</p>
				
			</div> 				<!-- Final da área de cada equipe -->

			<div class="equipe">

				<div class="nome-equipe">
					<h6> Gupo 1</h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=mCMZn1g1DBo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
				</p>
				
			</div>

			<div class="equipe">

				<div class="nome-equipe">
					<h6> TFusion</h6>
				</div>
				 
				<p class="centralizar"><a href="https://www.youtube.com/watch?v=gBqtKcwlkwg"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a>  
				</p>
				
			</div>
	</div>

		
	
			<div class="turmas1-1"> <!-- começo 2°-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> AutomX </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=o1WAWSn2kks"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6>NICK </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=Fj5llzmg01I"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Roboter Logic </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=tl6yQd9AWu4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div>
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> PCE </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=X4Hpez769dM"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div>
			</div>
				
			<div class="turmas1-1"> <!-- começo 4°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Biodata </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=-ejchD2ysoQ"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Green House </h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=3XOAsKkF7D4"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div>
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Lab Maker</h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=nqnr9gfxJFo"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div>
			</div>
				<div class="turmas1-1">
	
				<div class="turma"> <!-- Começo 5°ads-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> Troia</h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=p0lWKZmcwCA"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	
				<div class="equipe">
	
					<div class="nome-equipe">
						<h6> Smart Fix</h6>
					</div>
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=UEmsaufV0oI"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div>			
			</div>
			
			
	
			<div class="turmas1-1"> <!-- começo 6°ads-->
	
				<div class="turma"> <!-- Começo do Nome da Turma-->
					<h5> Turma A </h5>
				</div> 				<!-- Final do Nome da Turma -->
	
				<div class="equipe"> <!-- Começo da área de cada equipe -->
	
					<div class="nome-equipe"> <!-- Começo da área do Nome da equipe -->
						<h6> You do </h6>
					</div>					 <!-- Final da área do  Nome da equipe -->
					 
					<p class="centralizar"><a href="https://www.youtube.com/watch?v=h1N0rgaBcbM"> <img src={{ url_for('static', filename='imagem/logo_youtube.png') }} width="20px"  height="20px"></a> 	 
					</p>
					
				</div> 				<!-- Final da área de cada equipe -->
	</div>
				
				
				
			</div>
			
			</div>
	</div>


	
		

	


			<div class="clear"></div><br>


			
				<div class="rodape" class="centralizar"> <!--inicio rodapé--> 

					<div class="imagem-rodape">	
						<img src={{ url_for('static', filename='imagem/cps_brasao_sp_320x84.png') }}  style="width: 350px; height: 90px;">
					</div>

					<div class="menu-rodape" >

						<a href="https://fatecsjc-prd.azurewebsites.net/index.php">Home</a>
						<a href="">Institucional</a>
						<a href="">Cursos</a>
						<a href="">Projetos</a>
						<a href="">Área do aluno</a>
						<a href="">Contato</a>
						<a href="">Docentes</a>
		
						<br><br>
						<hr>
						
					</div>
					

		
					<div class="icon-email"> 
					<a href="https://outlook.office365.com/mail/"><img src={{ url_for('static', filename='imagem/icon_email.png') }} style="width: 45px;
                     height: 45px;"></a>	
					<a href="https://www.facebook.com/fatecjessenvidal">   <img src={{ url_for('static', filename='imagem/facebook-icon.png') }} style="width: 45px;
                     height: 45px;"></a>
                  
					

					</div><br><br>

					<div class="centralizar">
						<p">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal | Feito por Pedro Otávio</p>
					</div><!--fim rodapé-->

				</div>
		
</body>
</html>
